#calendar_page{
  font-family: 'Open Sans';
  font-style: normal;
  background-color:#B8D9C6;
}
  // button {
  //   margin-right: 2.5px;
  //   margin-left: 2.5px;
  //   width: 75px;
  //   cursor: pointer;
  //   box-shadow: 0px 0px 2px gray;
  //   border: none;
  //   outline: none;
  //   padding: 5px;
  //   border-radius: 5px;
  //   color: white; 
  // }
  
  // #header {
  //   padding: 10px;
  //   color: #d36c6c;
  //   font-size: 26px;
  //   font-family: sans-serif;
  //   display: flex;
  //   justify-content: space-between;
  // }
  // #header button {
  //   background-color:#92a1d1;
  // }
  // #container {
  //   width: 770px;
  // }
 
  #calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  #weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 2px;
    margin: 0 auto;
    max-width: 64em;
    padding: 0;
    position: relative;
    min-height: 100px;
    font-size: 16px;
    background-color: #fff;
    color: var(--grey-800);
    /* padding: 5px; */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    color: var(--grey-800);
    font-size: 18px;
    background-color: #fff;
  }
  // .day {
  //   width: 100px;
  //   padding: 10px;
  //   height: 100px;
  //   cursor: pointer;
  //   box-sizing: border-box;
  //   background-color: white;
  //   margin: 5px;
  //   box-shadow: 0px 0px 3px #CBD4C2;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  // }
  // .day:hover {
  //   background-color: #e8faed;
  // }
  .day {
    position: relative;
  min-height: 100px;
  font-size: 16px;
  background-color: #fff;
  color: var(--grey-800);
  padding: 5px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    color: var(--grey-800);
    font-size: 18px;
    background-color: #fff;
    padding-bottom: 5px;
    padding-top: 10px;
  }
  .day:hover {
    background-color: #e8faed;
  }
  
  .day + .currentDay {
    background-color:#e8f4fa;
  }
  .event {
    font-size: 12px;
    padding: 3px;
    background-color: $text-color-green;
    color: white;
    border-radius: 5px;
    overflow-wrap: break-word;
  }
  .padding {
    cursor: default !important;
    background-color: #FFFCFF !important;
    box-shadow: none !important;
  }
  #newEventModal, #deleteEventModal {
    z-index: 20;
    padding: 25px;
    background-color: #e8f4fa;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
  }
  #eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }
  // .event {
  //   font-size: 10px;
  //   padding: 3px;
  //   background-color: #58bae4;
  //   color: white;
  //   border-radius: 5px;
  //   max-height: 55px;
  //   overflow: hidden;
  // }
  // .padding {
  //   cursor: default !important;
  //   background-color: #FFFCFF !important;
  //   box-shadow: none !important;
  // }
  // #newEventModal, #deleteEventModal {
  //   z-index: 20;
  //   padding: 25px;
  //   background-color: #e8f4fa;
  //   box-shadow: 0px 0px 3px black;
  //   border-radius: 5px;
  //   width: 350px;
  //   top: 100px;
  //   left: calc(50% - 175px);
  //   position: absolute;
  //   font-family: sans-serif;
  // }
  // #eventTitleInput {
  //   padding: 10px;
  //   width: 100%;
  //   box-sizing: border-box;
  //   margin-bottom: 25px;
  //   border-radius: 3px;
  //   outline: none;
  //   border: none;
  //   box-shadow: 0px 0px 3px gray;
  // }
  // #eventTitleInput.error {
  //   border: 2px solid red;
  // }
  // #cancelButton, #deleteButton {
  //   background-color: #d36c6c;
  // }
  // #saveButton, #closeButton {
  //   background-color: #92a1d1;
  // }
  // #eventText {
  //   font-size: 14px;
  // }
  // #modalBackDrop {
  //   top: 0px;
  //   left: 0px;
  //   z-index: 10;
  //   width: 100vw;
  //   height: 100vh;
  //   position: absolute;
  //   background-color: rgba(0,0,0,0.8);
  // }


  #calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 2px;
    margin: 0 auto;
    max-width: 64em;
    padding: 0;
  }

  .logo{   
    display: flex;

    width:60%;
  }
  #headerDisplay{
    display: flex;
    align-items: center;
    font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
    justify-content: center;
    margin-bottom: 2em;
    background: #B8D9C6;
    color: #fff;
    min-height: 10vh;
    text-align: center;
    padding:1em;
  } 
@media only screen and (max-width: 768px) {
  .logo{   
    display: flex;

    width:100%;
  }
  #headerDisplay{
    display: flex;
    align-items: center;
    font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
    justify-content: center;
    margin-bottom: 2em;
    background: #B8D9C6;
    color: #fff;
    min-height: 10vh;
    text-align: center;
    padding:1em;
  } 
  #weekdays{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  #calendar {
    grid-gap: 2px;  }
  .day {
    position: relative;
    min-height: 100px;
    font-size: 16px;
    background-color: #fff;
    color: var(--grey-800);
    /* padding: 5px; */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    color: var(--grey-800);
    font-size: 18px;
    background-color: #fff;
    /* padding-bottom: 5px; */
    /* padding-top: 10px; */


}
}